:root {
    --primary-color-dark-blue-1: hsl(217, 28%, 15%);
    --primary-color-dark-blue-2: hsl(218, 28%, 13%);
    --primary-color-dark-blue-3: hsl(216, 53%, 9%);
    --primary-color-dark-blue-4: hsl(219, 30%, 18%);
    --cyan-color: hsl(176, 68%, 64%);
    --blue-color: hsl(198, 60%, 50%);
    --neutral-white-color: hsl(0, 0%, 100%);
    --font-heading: 'Raleway', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

body {
    background: var(--primary-color-dark-blue-2);
    font-family: var(--font-body);
    color: var(--neutral-white-color);
    
}
header {
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;

}

.nav-bar {
    display: flex;
    gap: 35px;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    color: var(--neutral-white-color);
    text-decoration: none;
    transition: 300ms;
}

.nav-bar a:hover {
    color: var(--blue-color);
    cursor: pointer;
}
.introduction {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}
.introduction .image {
    width: 600px;
    margin: 0 auto;
}

.introduction .image img {
    width: 100%;
}

.introduction h1, .introduction p {
    margin-bottom: 30px;
    line-height: 30px;
}

.introduction h1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
}

.introduction button {
    padding: 15px 80px;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: var(--neutral-white-color);
    font-weight: 700;
    border: none;
    
}

.introduction button:hover {
    background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    cursor: pointer;
}

.features {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    gap: 50px;
}

.features p {
    line-height: 25px;
}

.features h2 {
    font-size: 22px;
}
.production {
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    margin-left: 50px;
    margin-right: 50px;
    gap: 40px;
    margin-top: 150px;
    margin-bottom: 70px;

}
.production .left {
    max-width: 450px;
    margin-left: 40px;
}

.production .left img {
    width: 100%;
}

.production .right {
    max-width: 700px;
}

.production h2, .production p {
    margin-bottom: 40px;
}
.production p {
    line-height: 25px;
}

.production .right span {
    text-align: end;
    padding-left: 3px;
}
.production .right a {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    padding-bottom: 2px;
    
}

.testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 80px 70px;
}

.testimonial .testimonial-item {
    background-color: var(--primary-color-dark-blue-4);
    color: var(--neutral-white-color);
    padding: 30px 25px;
    border-radius:10px;
}
.testimonial .testimonial-item img {
    width: 50px;
    border-radius: 50%;
    display: block;
}

.testimonial .testimonial-item .item-down {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
}

.testimonial-item p {
    padding-bottom: 30px;
    line-height: 25px;
}

.testimonial .testimonial-item {
    margin-top: 40px;
}

.contact {
   position: relative;
}

.contact .container {
    position: absolute;
    top: 50px;
    left: 220px;
    margin: 0 auto;
    max-width: 800px;
    height: 250px;
    text-align: center;
    background: var(--primary-color-dark-blue-4);
    color: var(--neutral-white-color);
    padding: 40px 40px;
    margin-bottom: 30px;
    box-shadow: 5px 15px 20px var(--primary-color-dark-blue-3);
    

    
}

.contact .container h2 {
    padding-bottom: 26px;

}

.contact .container p {
    line-height: 25px;
    padding-bottom: 20px;
}

.contact .container .form {
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 25px;
    margin-bottom: 17px;
}

.contact .container .form input {
    padding: 16px 10px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.contact .container .form button {
    border-radius: 50px;
    background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    border: none;
    outline: none;
    color: var(--neutral-white-color);
    font-weight: 700;
}

.contact .container .form button:hover {
    cursor: pointer;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));;
}

footer {
    background: var(--primary-color-dark-blue-3);
    
    
}

footer .container {
   padding-top: 230px;
   margin-top: 300px;
   padding-left: 100px;
   padding-right: 100px;
   padding-bottom: 80px;

}
footer .container img {
    margin-bottom: 30px;
}

footer .container .text {
    display: flex;
    justify-content: space-between;
}

footer .container .text .location {
    width: 220px;
    display: flex;
}

footer .container .text .location p {
    line-height: 25px;
    margin-left: 10px;
}

footer .container .text .contact-info p {
    display: inline;
    margin-left: 10px;
}

footer .container .text .contact-info>div {
    margin-bottom: 50px;
}

footer .container .text .contacts a {
    color: white;
    margin-right: 15px;
    
}

footer .container .text .contacts a:hover,
footer .container .text .about p:hover, 
footer .container .text .terms p:hover {
    cursor: pointer;
}

/*****For Mobile Device*******/
@media screen and (max-width: 375px){
   
    header {
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
    
    }
    header img {
        width: 100px;
    }
    
    .nav-bar {
        display: flex;
        gap: 10px;
        align-items: flex-start;
    }
    .nav-bar a {
        font-size: 15px;
    }

    .introduction .image {
        width: 300px;
        margin: 0 auto;
    }
    
    .introduction .image img {
        width: 100%;
    }
    .introduction p {
        margin: 0 20px;
        margin-bottom: 25px;
    }
    
    .features {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        max-width: 300px;
    }

    .features img {
        width: 70px;
    }

    .features h2 {
        font-size: 18px;
    }
    .features p {
        font-size: 14px;
    }

    .features .feature-item {
        margin-top: 25px;
    }

    .production {
        display: grid;
        grid-template-columns: 1fr;
        margin: 120px 25px;
    }

    .production .left {
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .production .left img {
        width: 100%;
    }

    .production h2, .production p {
        margin-bottom: 20px;
    }

    .production .right h2{
        font-size: 15px;
    }

    .production .right p {
        font-size: 13px;
    }

    .testimonial {
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px 40px;
        gap: 26px;
    }

    .testimonial p {
        font-size: 11px;
    }
    .testimonial .testimonial-item .item-down img {
        width: 35px;
    }

    .testimonial .testimonial-item p {
        padding-bottom: 10px;
    }
    .testimonial .testimonial-item{
        margin-bottom: -40px;
        padding: 10px 15px;
    }
    .testimonial h3 {
        font-size: 15px;
    }

    .testimonial .testimonial-item .item-down {
        display: grid;
        grid-template-columns: 20% 70%;
        gap: 5px;
    }

    .testimonial .testimonial-item .item-down h3 {
        font-size: 10px;
        
    }

    .testimonial-item p {
        margin-bottom: 6px;
        line-height: 20px;
    }

    .contact {
        position: relative;
     }
     
     .contact .container {
         position: absolute;
         top: 50px;
         left: 13px;
         margin: 50px auto;
         max-width: 285px;
         height: 310px;
         text-align: center;
         background: var(--primary-color-dark-blue-4);
         color: var(--neutral-white-color);
         padding: 20px 20px;
         margin-bottom: 30px;
         box-shadow: 5px 15px 20px var(--primary-color-dark-blue-3);
         border-radius: 10px;
     
         
     }
     
     .contact .container h2 {
         padding-bottom: 10px;
         font-size: 15px;
     
     }
     
     .contact .container p {
         line-height: 20px;
         padding-bottom: 20px;
         font-size: 13px;
     }
     
     .contact .container .form {
         display: grid;
         grid-template-columns: 90%;
         gap: 25px;
         margin-bottom: 17px;
     }
     
     .contact .container .form input {
         padding: 16px 10px;
         border-radius: 50px;
         border: none;
         outline: none;
         padding-right: 75px;
         margin: 0 auto;
     }
     
     .contact .container .form button {
         border-radius: 50px;
         background: linear-gradient(to right, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
         border: none;
         outline: none;
         color: var(--neutral-white-color);
         padding: 16px 50px;
         padding-right: 80px;
         font-weight: 700;
         margin: 0 5px;
         width: 280px;
         height: 50px;
         
     }
     
     .contact .container .form button:hover {
         cursor: pointer;
         background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));;
     }
     
     footer {
         background: var(--primary-color-dark-blue-3);
         
         
     }
     
     footer .container {
        padding-top: 230px;
        margin-top: 300px;
        padding-right: 10px;
        padding-bottom: 50px;
        margin-left: -60px;
        
     
     }
     footer .container img {
         margin-left: 15px;
     }
     
     footer .container .text {
         display: flex;
         flex-direction: column;
         margin-left: -15px;
         gap: 30px;
     }
     
     footer .container .text .location {
         width: 280px;
         display: flex;
     }
     
     footer .container .text .contacts {
         margin-top: 50px;
         display: flex;
         justify-content: center;
     }

     footer .container .text .contacts a {
         font-size: 14px;
     }

}